<ng-container *ngIf="match">
    <mat-card>
        <mat-card-content>
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <div fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="16px">
                    <app-team-image [src]="match.imageUrlLocal"></app-team-image>
                    <span>{{match.local}}</span>
                    <ng-content select="[local]"></ng-content>
                </div>

                <p>vs.</p>
                <div fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="16px">

                    <app-team-image [src]="match.imageUrlVisita"></app-team-image>
                    <span>{{match.visita}}</span>
                    <ng-content select="[visita]"></ng-content>
                </div>
            </div>
        </mat-card-content>

    </mat-card>
</ng-container>