<footer>
    <div class="footer-content">
        <div class="contact-info">
            <h4>Contacto</h4>
            <p><strong>Guadalajara:</strong> Azael Niebla <a href="tel:+523331842986">+52 33 3184 2986</a></p>
            <p><strong>Colima:</strong> Alexis López <a href="tel:+523335037745">+52 33 3503 7745</a></p>
            <p><strong>Tijuana:</strong> Ishamir Portillo <a href="tel:+526651043536">+52 665 104 3536</a></p>
        </div>
        <div class="social-media">
            <h4>Síguenos en redes sociales</h4>
            <a href="https://www.facebook.com/profile.php?id=100095215636132" target="_blank" rel="noopener">Facebook</a>
            <a href="https://www.tiktok.com/@afc.torneocristiano" target="_blank" rel="noopener noreferrer">TikTok</a>
            <a href="https://www.youtube.com/@TorneoAFC" target="_blank" rel="noopener noreferrer">YouTube</a>
            <a href="https://wa.me/5213331842986" target="_blank" rel="noopener noreferrer">WhatsApp</a>
        </div>
    </div>
</footer>