<div class="wrapper">
    <div class="container">
        <mat-toolbar>
            <mat-toolbar-row>
                <img class="logo" src="assets/Logo_AFC_1024px.png" alt="AFC Logo">
                <p>Asociación de Fútbol Cristiana</p>

            </mat-toolbar-row>
            <mat-toolbar-row fxLayout="row" fxLayoutAlign="center center">
                <a mat-button href="/guadalajara/ranking" target="_blank">GUADALAJARA</a>
                <a mat-button href="/colima/ranking" target="_blank">COLIMA</a>
                <a mat-button href="/tijuana/ranking" target="_blank">TIJUANA</a>
            </mat-toolbar-row>
        </mat-toolbar>
    </div>
    <img class="banner"
        src="https://firebasestorage.googleapis.com/v0/b/afc-torneo.appspot.com/o/images%2Fbanners%2Fbanner%20afc%203.jpg?alt=media&token=94269e12-fabb-4c7d-be8c-fad5c31b036a"
        alt="Banner 3 AFC">


    <div class="container">
        <section style="padding-bottom: 3rem;">
            <div fxLayout="column" fxLayoutAlign="center center">

                <h3>Conoce nuestras zonas</h3>
                <p style="text-align: center; font-style: italic;">La AFC tiene como objetivo promover la convivencia
                    entre
                    las Iglesias Apostólicas a través del fútbol.</p>

            </div>
            <div class="card-container" fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="16px" fxLayout.xs="column"  fxLayoutAlign.xs="center center">
                <mat-card class="example-card">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image">
                            <img class="logo" src="assets/Logo_AFC_1024px.png" alt="AFC Logo">
                        </div>
                        <mat-card-title>AFC Guadalajara</mat-card-title>
                        <mat-card-subtitle>Metrogol GDL</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image
                        src="https://firebasestorage.googleapis.com/v0/b/afc-torneo.appspot.com/o/images%2Fbanners%2Fmetrogol-gdl.jpg?alt=media&token=af164a63-ac68-42ec-9d40-02d7c3d66241"
                        alt="Guadalajara">
                    <mat-card-content>
                        <p>Descubre los equipos destacados de Guadalajara, Zapopan, Tlaquepaque, Tlajomulco y Tonalá,
                            que representan con orgullo nuestra zona.</p>
                    </mat-card-content>
                    <mat-card-actions>
                        <a mat-flat-button href="/guadalajara/ranking" target="_blank">Tabla general</a>
                    </mat-card-actions>
                </mat-card>

                <mat-card class="example-card">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image">
                            <img class="logo" src="assets/Logo_AFC_1024px.png" alt="AFC Logo">
                        </div>
                        <mat-card-title>AFC Colima</mat-card-title>
                        <mat-card-subtitle>Soccer City Tecomán</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image
                        src="https://firebasestorage.googleapis.com/v0/b/afc-torneo.appspot.com/o/images%2Fbanners%2Fsoccer%20city%20tecoman.jpg?alt=media&token=ddc131d8-d91d-4c44-9462-d4e4492d305e"
                        alt="Colima">
                    <mat-card-content>
                        <p>Descubre los equipos destacados de Manzanillo, Tecomán y Colima, que representan con orgullo
                            nuestra zona.</p>
                    </mat-card-content>
                    <mat-card-actions>
                        <a mat-button routerLink="/colima/ranking" target="_blank">Tabla general</a>
                    </mat-card-actions>
                </mat-card>

                <mat-card class="example-card">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image">
                            <img class="logo" src="assets/Logo_AFC_1024px.png" alt="AFC Logo">
                        </div>
                        <mat-card-title>AFC Tijuana</mat-card-title>
                        <mat-card-subtitle>Fut RYO Urbano</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image
                        src="https://firebasestorage.googleapis.com/v0/b/afc-torneo.appspot.com/o/images%2Fbanners%2FAcafut%20tijuana.jpg?alt=media&token=dc07a7c3-3df7-4a44-a03d-5c75a8a5a1f0"
                        alt="Tijuana">
                    <mat-card-content>
                        <p>PROXIMAMENTE</p>
                    </mat-card-content>
                    <mat-card-actions>
                        <a mat-button href="/tijuana/ranking" target="_blank">Tabla general</a>
                    </mat-card-actions>
                </mat-card>
            </div>
        </section>
    </div>
    <img class="banner"
        src="https://firebasestorage.googleapis.com/v0/b/afc-torneo.appspot.com/o/images%2Fbanners%2Fbanner%20afc%204.jpg?alt=media&token=a68ae97a-99a9-43d4-9572-114dc4c9c555"
        alt="banner 6 AFC">
    <footer>
        <div class="footer-content">
            <div class="contact-info">
                <h4>Contacto</h4>
                <p><strong>Guadalajara:</strong> Azael Niebla +52 33 3184 2986</p>
                <p><strong>Colima:</strong> Alexis López +52 33 3503 7745</p>
                <p><strong>Tijuana:</strong> Ishamir Portillo +52 665 104 3536</p>
            </div>
            <div class="social-media">
                <h4>Síguenos en redes sociales</h4>
                <a href="https://www.facebook.com/profile.php?id=100095215636132" target="_blank">Facebook</a>
                <a href="https://www.tiktok.com/@afc.torneocristiano" target="_blank">TikTok</a>
                <a href="https://www.youtube.com/@TorneoAFC" target="_blank">YouTube</a>
                <a href="https://wa.me/5213331842986" target="_blank">WhatsApp</a>
            </div>
        </div>
    </footer>

    <!--         
    <img class="banner"
        src="https://firebasestorage.googleapis.com/v0/b/afc-torneo.appspot.com/o/images%2Fbanners%2Fbanner%20afc%205.jpg?alt=media&token=20f77f39-7237-4404-b3b3-9d367f9e70cd"
        alt="banner 5 AFC">
   
    

    <img class="banner"
        src="https://firebasestorage.googleapis.com/v0/b/afc-torneo.appspot.com/o/images%2Fbanners%2Fbanner%20afc%20campeon.jpg?alt=media&token=80af6800-9138-46fa-9622-094c4e0dee37"
        alt="Campeones 4ta edición Guadalajara"> -->

</div>