<input #fileInput type="file" (change)="fileSelected($event)" style="display:none;" [accept]="accept"/>

<div [ngSwitch]="mode">

    <div *ngSwitchCase="'button'">
        <button mat-stroked-button type="button" (click)="fileInput.click()" color="primary">
            <mat-icon>photo_camera</mat-icon>
            <span>{{text}}</span>
        </button>
    </div>

    <div class="image perfect-center" *ngSwitchCase="'image'">

        <app-logo></app-logo>
        <button mat-stroked-button type="button" (click)="fileInput.click()" color="primary">
            <mat-icon>photo_camera</mat-icon>
            <span>{{text}}</span>
        </button>

    </div>
</div>