.default-team {
   
    // border-radius: 50%;
    // border: 2px solid #ccc;
    padding: 5px;
}

img {
    width: 100%;
}

.small {
    width: 32px;
    height: 32px;
}
.medium {
    width: 48px;
    height: 48px;
}