.profile-photo {
    width: 32px; /* Adjust the width and height as needed */
    height: 32px;
    border-radius: 50%; /* This creates a circular border */
    object-fit: cover; /* Ensures the image covers the entire container */
  }
  