<ng-container *ngIf="teams$ | async as teams">
    <ng-container *ngIf="groupKeys.length === 1; else multipleGroups">
        <mat-toolbar>Tabla general</mat-toolbar>
        <app-team-list [teams]="groupedTeams[groupKeys[0]]"></app-team-list>
    </ng-container>
    <ng-template #multipleGroups>
        <ng-container *ngFor="let group of groupKeys">
            <mat-toolbar>Grupo {{ group }}</mat-toolbar>
            <app-team-list [teams]="groupedTeams[group]"></app-team-list>
        </ng-container>
    </ng-template>
    <mat-card class="legend">
        <mat-card-content>

            <div fxLayout="row" fxLayoutAlign="space-between center">


                <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="8px">
                    <app-match-result-icon matchResult="up" [showText]="true"></app-match-result-icon>
                    <app-match-result-icon matchResult="down" [showText]="true"></app-match-result-icon>
                    <app-match-result-icon matchResult="equals" [showText]="true"></app-match-result-icon>
                </div>

                <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="8px">
                    <p>Últimos partidos</p>
                    <app-match-result-icon matchResult="win" [showText]="true"></app-match-result-icon>
                    <app-match-result-icon matchResult="draw" [showText]="true"></app-match-result-icon>
                    <app-match-result-icon matchResult="loss" [showText]="true"></app-match-result-icon>
                    <app-match-result-icon matchResult="noplay" [showText]="true"></app-match-result-icon>
                </div>
            </div>


        </mat-card-content>
    </mat-card>
</ng-container>
<ng-container *ngIf="teamsFairPlay$ | async as teams">
    <mat-toolbar>Puntos Fair Play</mat-toolbar>
    <app-team-fair-play-list [teams]="teams"></app-team-fair-play-list>
</ng-container>