<mat-toolbar>Tabla general</mat-toolbar>
<ng-container *ngIf="teams$ | async as teams">
    <app-team-list [teams]="teams"></app-team-list>
    <mat-card class="legend">
        <mat-card-content>
    
            <div fxLayout="row" fxLayoutAlign="space-between center">
    
    
                <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="8px">
                    <app-match-result-icon matchResult="up" [showText]="true"></app-match-result-icon>
                    <app-match-result-icon matchResult="down" [showText]="true"></app-match-result-icon>
                    <app-match-result-icon matchResult="equals" [showText]="true"></app-match-result-icon>
                </div>
    
                <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="8px">
                    <p>Últimos partidos</p>
                    <app-match-result-icon matchResult="win" [showText]="true"></app-match-result-icon>
                    <app-match-result-icon matchResult="draw" [showText]="true"></app-match-result-icon>
                    <app-match-result-icon matchResult="loss" [showText]="true"></app-match-result-icon>
                    <app-match-result-icon matchResult="noplay" [showText]="true"></app-match-result-icon>
                </div>
            </div>
    
    
        </mat-card-content>
    </mat-card>
</ng-container>