<ng-container *ngIf="matches$ | async as matches">
    <mat-toolbar class="transparent">
        Partidos
        <span class="spacer"></span>
        <button mat-stroked-button (click)="openStandings()">Posiciones <mat-icon class="trending-up">trending_up</mat-icon></button>
    </mat-toolbar>
    <div *ngFor="let group of matches">
        <mat-toolbar>{{ group.key | excelDate | dateStatus }}</mat-toolbar>

        <app-match *ngFor="let match of group.values" [match]="match" (selected)="onSelected($event)" [attr.data-date]="match.dateTime.toISOString()"></app-match>

    </div>    
</ng-container>