<!-- <mat-toolbar>{{name}}</mat-toolbar> -->
<mat-list role="list" *ngIf="players.length > 0">
    <div mat-subheader>
        <div fxLayout fxLayoutAlign="space-between center" fxLayoutGap="8px">
            <p>Jugador</p>
            <span class="spacer"></span>
            <ng-content></ng-content>
            <p>{{name}}</p>
        </div>
    </div>
    <mat-divider></mat-divider>
    <ng-container>

        <mat-list-item role="listitem" *ngFor="let p of players">
            <!-- Image with icon size (left side) -->
            <!-- <app-team-image matListItemIcon [team]="p.equipo"></app-team-image> -->
            <app-player-photo matListItemIcon [player]="p"></app-player-photo>

            <!-- Title and number (right side) -->
            <div matListItemTitle fxLayout fxLayoutAlign="space-between center">
                <p>{{p.name || p.jugador}}</p>
                <span class="spacer"></span>
                <p>{{getStatValue(p)}}</p>
            </div>
            <span matListItemLine>{{p.equipo}}</span>
            <span matListItemLine>
                {{p.dateBirth | age}} años
            </span>
        </mat-list-item>
    </ng-container>
</mat-list>