<form [formGroup]="form" fxLayout="column" fxLayoutAlign="start stretch">

    <mat-form-field>
        <mat-label>Mostrar por equipo</mat-label>
        <mat-select formControlName="teamName">
            <mat-option *ngFor="let team of teams" [value]="team.nombre">
                {{team.nombre}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    
    <ng-container *ngIf="players | async as p; else noPlayers">
        <button mat-flat-button (click)="newPlayer()" color="accent">Nuevo jugador</button>
        <h2>{{p.length}} Jugadores</h2>
        <mat-list role="list">

            <mat-list-item role="listitem" *ngFor="let p of p" matRipple>
                <app-player-item [player]="p" (selected)="onSelected($event)"></app-player-item>
            </mat-list-item>


        </mat-list>
    </ng-container>
</form>


<ng-template #noPlayers>
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="8px">
        <mat-icon>person_off</mat-icon>
        Seleccione un equipo
    </div>
</ng-template>