<div class="toolbar" fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-button (click)="close()">
        <mat-icon>arrow_back</mat-icon>
        <span>{{title}}</span>
    </button>
    <span class="spacer"></span>
    <button mat-flat-button (click)="save()" color="primary" [disabled]="form.invalid">Guardar</button>
</div>
<form [formGroup]="form" class="container" fxLayout="column" fxLayoutGap="8px">

    <app-match-header [match]="data.match">

        <div local fxLayout="column" fxLayoutAlign="space-around stretch">
            <mat-form-field appearance="fill" class="score-input">
                <mat-label>{{data.match.local}}</mat-label>
                <input matInput autocomplete="off" [placeholder]="data.match.local" type="number"
                    formControlName="local" aria-label="local">
                <mat-icon matSuffix>sports_soccer</mat-icon>
            </mat-form-field>
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <button mat-icon-button color="accent" (click)="decrement('local')"><mat-icon>remove</mat-icon></button>
                <button mat-icon-button color="accent" (click)="increment('local')"><mat-icon>add</mat-icon></button>
            </div>
        </div>

        <div visita fxLayout="column" fxLayoutAlign="space-around stretch">
            <mat-form-field appearance="fill" class="score-input">
                <mat-label>{{data.match.visita}}</mat-label>
                <input matInput autocomplete="off" [placeholder]="data.match.visita" type="number"
                    formControlName="visita" aria-label="visita">
                <mat-icon matSuffix>sports_soccer</mat-icon>
            </mat-form-field>
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <button mat-icon-button color="accent"
                    (click)="decrement('visita')"><mat-icon>remove</mat-icon></button>
                <button mat-icon-button color="accent" (click)="increment('visita')"><mat-icon>add</mat-icon></button>
            </div>
        </div>


    </app-match-header>

    <button mat-flat-button (click)="delete()" color="warn" [disabled]="form.invalid">Limpiar
        marcador</button>

    <mat-form-field>
        <mat-label>Dia del partido</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date" aria-label="fecha">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>


    <mat-form-field>   
        <mat-label>Hora del partido</mat-label>
        <input matInput formControlName="time" [ngxMatTimepicker]="pickerA" readonly  aria-label="hora" [format]="24"/>
        <mat-icon matSuffix (click)="pickerA.open()">
            watch_later
        </mat-icon>
    </mat-form-field>
    <ngx-mat-timepicker #pickerA></ngx-mat-timepicker>

    <mat-form-field>
        <mat-label>Campo</mat-label>
        <input matInput placeholder="Nombre del campo" formControlName="field">
        <mat-icon matSuffix>
            flag
        </mat-icon>
    </mat-form-field>



    <!-- <div fxLayout="row" fxLayoutAlign="space-between center">
        <div>
            
        </div>
        <div>
            
        </div>
    </div> -->
</form>