<app-stats-list name="Goleadores Top" [players]="goals" statName="goles">
    <mat-icon>sports_soccer</mat-icon>
</app-stats-list>

<app-stats-list name="Tarjetas Amarillas" [players]="yellows" statName="amarillas">
    <mat-icon class="yellow-cards">crop_portrait</mat-icon>
</app-stats-list>

<app-stats-list name="Tarjetas Rojas" [players]="reds" statName="rojas">
    <mat-icon class="red-cards">crop_portrait</mat-icon>
</app-stats-list>

<app-stats-list name="Faltas" [players]="faults" statName="faltas">
    <mat-icon>report</mat-icon>
</app-stats-list>