<div class="ranking">
    <table mat-table [dataSource]="teams">

        <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="team" sticky>
            <th mat-header-cell *matHeaderCellDef class="team-name"> Equipo </th>
            <td mat-cell *matCellDef="let element, let index = index" class="team-name">

                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
                    <span>{{index + 1}}</span>
                    <app-match-result-icon matchResult="up" *ngIf="element.tendencia === '>'"></app-match-result-icon>
                    <app-match-result-icon matchResult="down" *ngIf="element.tendencia === '<'"></app-match-result-icon>
                    <app-match-result-icon matchResult="equals"
                        *ngIf="element.tendencia === '='"></app-match-result-icon>                    
                    <app-team-image [src]="getImage(element)"></app-team-image>
                    <p>{{element.nombre}}</p>
                </div>

            </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="pj">
            <th mat-header-cell *matHeaderCellDef> PJ </th>
            <td mat-cell *matCellDef="let element"> {{element.PJ}} </td>
        </ng-container>

        <ng-container matColumnDef="g">
            <th mat-header-cell *matHeaderCellDef> G </th>
            <td mat-cell *matCellDef="let element"> {{element.G}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="e">
            <th mat-header-cell *matHeaderCellDef> E </th>
            <td mat-cell *matCellDef="let element"> {{element.E}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="p">
            <th mat-header-cell *matHeaderCellDef> P </th>
            <td mat-cell *matCellDef="let element"> {{element.P}} </td>
        </ng-container>

        <ng-container matColumnDef="gf">
            <th mat-header-cell *matHeaderCellDef> GF </th>
            <td mat-cell *matCellDef="let element"> {{element.GF}} </td>
        </ng-container>

        <ng-container matColumnDef="gc">
            <th mat-header-cell *matHeaderCellDef> GC </th>
            <td mat-cell *matCellDef="let element"> {{element.GC}} </td>
        </ng-container>

        <ng-container matColumnDef="dg">
            <th mat-header-cell *matHeaderCellDef> DG </th>
            <td mat-cell *matCellDef="let element"> {{element.DG}} </td>
        </ng-container>

        <ng-container matColumnDef="pts">
            <th mat-header-cell *matHeaderCellDef> Pts </th>
            <td mat-cell *matCellDef="let element"> {{element.Pts}} </td>
        </ng-container>

        <ng-container matColumnDef="last">
            <th mat-header-cell *matHeaderCellDef> Últimos {{lastMatches}} </th>
            <td mat-cell *matCellDef="let element">
                <app-last-matches [team]="element.nombre" [lastMatches]="lastMatches"></app-last-matches>
            </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="['team', 'pj', 'g', 'e','p','gf', 'gc', 'dg', 'pts', 'last']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['team', 'pj', 'g', 'e','p','gf', 'gc', 'dg', 'pts', 'last'];"></tr>
    </table>
</div>

<mat-card class="legend">
    <mat-card-content>

        <div fxLayout="row" fxLayoutAlign="space-between center">


            <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="8px">
                <app-match-result-icon matchResult="up" [showText]="true"></app-match-result-icon>
                <app-match-result-icon matchResult="down" [showText]="true"></app-match-result-icon>
                <app-match-result-icon matchResult="equals" [showText]="true"></app-match-result-icon>
            </div>

            <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="8px">
                <p>Últimos {{lastMatches}} partidos</p>
                <app-match-result-icon matchResult="win" [showText]="true"></app-match-result-icon>
                <app-match-result-icon matchResult="draw" [showText]="true"></app-match-result-icon>
                <app-match-result-icon matchResult="loss" [showText]="true"></app-match-result-icon>
                <app-match-result-icon matchResult="noplay" [showText]="true"></app-match-result-icon>
            </div>
        </div>


    </mat-card-content>
</mat-card>