.team-name {
    text-align: left;
    padding-left: 16px;
    font-size: 14px;
}

td,
th {
    text-align: center;
    padding: 0 8px;
    font-size: 12px;
}

th {
    color: var(--accent-color);
    font-weight: normal;
    font-size: 14px;
}

.ranking {
    width: 100%;
    overflow: auto;
}

td.mat-column-star {
    width: 20px;
    padding-right: 8px;
}

th.mat-column-position,
td.mat-column-position {
    padding-left: 8px;
}

.table {
    .mat-mdc-table-sticky-border-elem-right {
        border-left: 1px solid #e0e0e0;
    }

    .mat-mdc-table-sticky-border-elem-left {
        border-right: 1px solid #e0e0e0;
    }
}


.widget {
    border-radius: 8px;

    table {
        background-color: var(--base-color);
    }

    .mat-mdc-row,
    .mat-mdc-header-row,
    .mat-mdc-cell,
    .mat-mdc-header-row {
        border-bottom: none;
        height: 24px !important;
        border-bottom-style: hidden;
        font-weight: lighter;
    }

    td.mat-cell {
        border-bottom-style: none;
    }

    th.mat-header-cell {
        border-bottom-style: none;
    }


    th {
        font-weight: lighter;
    }
}

.highlighted-row {
    border-left: 4px solid var(--accent-color);    
    // border-radius: 0 5px 5px 0;    
}