.team-name {
    text-align: left;
    padding-left: 16px;
    font-size: 14px;
}

td,
th {
    text-align: center;
    padding: 0 8px;
    font-size: 12px;
}

th {
    color: var(--accent-color);
    font-weight: normal;
    font-size: 14px;
}

.ranking {
    width: 100%;
    overflow: auto;
}

td.mat-column-star {
    width: 20px;
    padding-right: 8px;
}

th.mat-column-position,
td.mat-column-position {
    padding-left: 8px;
}

.mat-mdc-table-sticky-border-elem-right {
    border-left: 1px solid #e0e0e0;
}

.mat-mdc-table-sticky-border-elem-left {
    border-right: 1px solid #e0e0e0;
}

.legend {
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    margin: 8px;

    p {
        font-weight: 500;
        margin: 0;
        margin-bottom: 16px;

    }
}
