<div *ngIf="match && noPlay(match)">
    <ng-container>
        <div class="match-box" matRipple routerLink="lineup"
            [queryParams]="{ local: match.local, visita: match.visita }">


            <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="16px">

                <div fxFlex fxLayout="column" fxLayoutAlign="space-between start" fxLayoutGap="8px">
                    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="16px">

                        <app-team-image [src]="match.imageUrlLocal"></app-team-image>
                        <p fxFill>{{ match.local }}</p>
                        <p *ngIf="match.marcadorLocal >= 0">{{match.marcadorLocal}}</p>

                    </div>

                    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="16px">

                        <app-team-image [src]="match.imageUrlVisita"></app-team-image>
                        <p fxFill>{{ match.visita }}</p>
                        <p *ngIf="match.marcadorVisita >= 0">{{match.marcadorVisita}}</p>

                    </div>

                </div>

                <div class="vertical-divider"></div>

                <div class="match-info" fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="8px">
                    <p>{{ match.date | date }}</p>
                    <app-match-hour [match]="match"></app-match-hour>
                    <span>{{match.campo}}</span>                                            
                </div>
            </div>
        </div>
    </ng-container>
</div>