<div *ngIf="match && noPlay(match)">
    <ng-container>
        <div class="match-box">


            <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="16px">

                <div fxFlex fxLayout="column" fxLayoutAlign="space-between start" fxLayoutGap="8px">
                    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="16px">
                        
                        <app-team-image [src]="match.imageUrlLocal"></app-team-image>
                        <p fxFill>{{ match.local }}</p>
                        <p *ngIf="match.marcadorLocal >= 0">{{match.marcadorLocal}}</p>

                    </div>

                    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="16px">
                        
                        <app-team-image [src]="match.imageUrlVisita"></app-team-image>
                        <p fxFill>{{ match.visita }}</p>
                        <p *ngIf="match.marcadorVisita >= 0">{{match.marcadorVisita}}</p>

                    </div>

                </div>

                <div class="vertical-divider"></div>

                <div class="match-info" fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="8px">
                    <p>{{ match.date | date }}</p>
                    <div *ngIf="match.hora; else noHour">
                        <p>{{ match.hour }}</p>
                    </div>
                    <ng-template #noHour>
                        <p>Por confirmar</p>
                    </ng-template>
                    <p>{{match.campo}}</p>
                </div>
            </div>
        </div>
    </ng-container>
</div>