.vertical-divider {
    width: 1px;
    height: 100%;
    background-color: #ccc;
    margin: 0 10px;
    /* Adjust the margin as needed */
}

p {
    margin: 0;
    line-height: normal;
}
.match-info{
    font-size: 12px;
}
.match-box {
    padding: 16px;
    border: 1px #ccc solid;
    border-radius: 8px;
    margin: 8px;
}

.vertical-divider {
    width: 1px;
    height: 80px;
    background-color: #ccc;
    
  
}

