.vertical-divider {
    width: 1px;
    background-color: #ccc;
    margin: 0 10px;
    height: 80px;
}

p {
    margin: 0;
    line-height: normal;
}

.match-info {
    font-size: 12px;
}

.match-box {
    padding: 16px;
    border: 1px #ccc solid;
    border-radius: 8px;
    margin: 8px;
    cursor: pointer;
}

.winner::after {
    content: '\2190';    
    position: absolute;  
    font-size: 14px;
}