<div *ngIf="match">
    <ng-container>
        <!-- routerLink="view" [queryParams]="{ local: match.local, visita: match.visita }" -->
        <div class="match-box" matRipple (click)="$event.preventDefault(); select(match)" tabIndex="0">

            <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="16px">

                <div fxFlex fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="8px">
                    <!-- home -->
                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">

                        <app-team-image [src]="match.imageUrlLocal"></app-team-image>
                        <p>{{ match.local }}</p>

                        <span class="spacer"></span>
                        <span *ngIf="(match.marcadorLocal ?? 0) >= 0"
                            [class.winner]="(match.marcadorLocal ?? 0) > (match.marcadorVisita?? 0)">{{match.marcadorLocal}}</span>
                    </div>
                    <!-- away -->
                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">

                        <app-team-image [src]="match.imageUrlVisita"></app-team-image>
                        <p>{{ match.visita }}</p>

                        <span class="spacer"></span>

                        <span *ngIf="(match.marcadorVisita ?? 0) >= 0"
                            [class.winner]="(match.marcadorVisita ?? 0) > (match.marcadorLocal ?? 0)">{{match.marcadorVisita}}</span>
                    </div>

                </div>
                <ng-container *ngIf="!noPlay(match)">

                    <div class="vertical-divider"></div>


                    <div class="match-info" fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="8px">

                        <p>{{match.etapa}} {{match.numero}}</p>
                        <ng-container>
                            <ng-container *ngIf="!isFinished(match) else finished;">
                                <p>{{ match.dateTime | dateStatus }}</p>
                                <app-match-hour [match]="match"></app-match-hour>
                                <span>{{match.campo}}</span>
                            </ng-container>

                            <ng-template #finished>
                                <app-match-hour [match]="match"></app-match-hour>
                                <p>{{ match.dateTime | dateStatus }}</p>
                            </ng-template>
                        </ng-container>
                    </div>
                </ng-container>

            </div>
        </div>
    </ng-container>
</div>