.example-card {
    max-width: 280px;
    min-height: 515px;
    img {
        max-width: 100%;
    }
}

h3 {
    font-weight: lighter;
}

mat-toolbar {
    background: transparent;
    
}

a {
    text-decoration: none;
}

mat-card-content {
    min-height: 95px;
}