
<mat-toolbar>
    <h3>Ligas y Torneos</h3>
</mat-toolbar>
<div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row wrap" fxLayoutAlign.gt-xs="center start" fxLayoutGap="16px">
    
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image">
                <img class="logo" src="assets/Logo_AFC_1024px.png" alt="AFC Logo">
            </div>
            <mat-card-title>AFC Guadalajara</mat-card-title>
            <mat-card-subtitle>Metrogol GDL</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image
            src="https://firebasestorage.googleapis.com/v0/b/afc-torneo.appspot.com/o/images%2Fbanners%2Fmetrogol-gdl.jpg?alt=media&token=af164a63-ac68-42ec-9d40-02d7c3d66241"
            alt="Guadalajara">
        <mat-card-content>
            <p>Descubre los equipos destacados de Guadalajara, Zapopan, Tlaquepaque, Tlajomulco y Tonalá,
                que representan con orgullo nuestra zona.</p>
        </mat-card-content>
        <mat-card-actions>
            <a mat-flat-button color="accent" href="/guadalajara/ranking" target="_blank">Tabla general</a>
        </mat-card-actions>
    </mat-card>

    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image">
                <img class="logo" src="assets/Logo_AFC_1024px.png" alt="AFC Logo">
            </div>
            <mat-card-title>AFC Colima</mat-card-title>
            <mat-card-subtitle>Soccer City Tecomán</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image
            src="https://firebasestorage.googleapis.com/v0/b/afc-torneo.appspot.com/o/images%2Fbanners%2Fsoccer%20city%20tecoman.jpg?alt=media&token=ddc131d8-d91d-4c44-9462-d4e4492d305e"
            alt="Colima">
        <mat-card-content>
            <p>Descubre los equipos destacados de Manzanillo, Tecomán y Colima, que representan con orgullo
                nuestra zona.</p>
        </mat-card-content>
        <mat-card-actions>
            <a mat-flat-button color="accent" href="/colima/ranking" target="_blank">Tabla general</a>
        </mat-card-actions>
    </mat-card>

    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image">
                <img class="logo" src="assets/Logo_AFC_1024px.png" alt="AFC Logo">
            </div>
            <mat-card-title>AFC Tijuana</mat-card-title>
            <mat-card-subtitle>Fut RYO Urbano</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image
            src="https://firebasestorage.googleapis.com/v0/b/afc-torneo.appspot.com/o/images%2Fbanners%2FAcafut%20tijuana.jpg?alt=media&token=dc07a7c3-3df7-4a44-a03d-5c75a8a5a1f0"
            alt="Tijuana">
        <mat-card-content>
            <p>PROXIMAMENTE</p>
        </mat-card-content>
        <mat-card-actions>
            <a mat-flat-button color="accent" href="/tijuana/ranking" target="_blank">Tabla general</a>
        </mat-card-actions>
    </mat-card>
</div>