<mat-toolbar>
    <h3>Ligas y Torneos</h3>
</mat-toolbar>
<div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row wrap" fxLayoutAlign.gt-xs="center start"
    fxLayoutGap="16px">

    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image">
                <img class="logo" src="assets/Logo_AFC_1024px.png" alt="AFC Logo">
            </div>
            <mat-card-title>AFC Guadalajara</mat-card-title>
            <mat-card-subtitle>Altium Sports Complex</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image
            src="https://firebasestorage.googleapis.com/v0/b/afc-torneo.appspot.com/o/images%2Fbanners%2Faltium-club-deportivo-en-zapopan-jalisco.jpg?alt=media&token=d26457ca-b100-459c-b428-3977979aded4"
            alt="Guadalajara">
        <mat-card-content>
            <p>Descubre los equipos destacados de Guadalajara, Zapopan, Tlaquepaque, Tlajomulco y Tonalá,
                que representan con orgullo nuestra zona.</p>
        </mat-card-content>
        <mat-card-actions>
            <a mat-flat-button color="accent" href="/guadalajara/ranking" target="_blank">Tabla general</a>
        </mat-card-actions>
    </mat-card>

    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image">
                <img class="logo" src="assets/Logo_AFC_1024px.png" alt="AFC Logo">
            </div>
            <mat-card-title>AFC Colima</mat-card-title>
            <mat-card-subtitle>Soccer City Tecomán</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image
            src="https://firebasestorage.googleapis.com/v0/b/afc-torneo.appspot.com/o/images%2Fbanners%2Fsoccer%20city%20tecoman.jpg?alt=media&token=ddc131d8-d91d-4c44-9462-d4e4492d305e"
            alt="Colima">
        <mat-card-content>
            <p>Descubre los equipos destacados de Manzanillo, Tecomán y Colima, que representan con orgullo
                nuestra zona.</p>
        </mat-card-content>
        <mat-card-actions>
            <a mat-flat-button color="accent" href="/colima/ranking" target="_blank">Tabla general</a>
        </mat-card-actions>
    </mat-card>

    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image">
                <img class="logo" src="assets/Logo_AFC_1024px.png" alt="AFC Logo">
            </div>
            <mat-card-title>AFC Mexicali</mat-card-title>
            <mat-card-subtitle>Campo 14 Reyes</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image
            src="https://firebasestorage.googleapis.com/v0/b/afc-torneo.appspot.com/o/images%2Fbanners%2FCampo%2014%20reyes.jpg?alt=media&token=6d5fb2d7-f676-4c85-b1a9-a20841199620"
            alt="Mexicali">
        <mat-card-content>
            <p>Descubre los equipos emergentes de Mexicali que están construyendo una nueva era en el fútbol local, con
                pasión y dedicación.</p>
        </mat-card-content>
        <mat-card-actions>
            <a mat-flat-button color="accent" href="/mexicali/ranking" target="_blank">Tabla general</a>
        </mat-card-actions>
    </mat-card>
</div>