<div class="toolbar" fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-button (click)="close()">
        <mat-icon>arrow_back</mat-icon>
        <ng-container *ngIf="isNew else updateTitle">
            <span>Agragar jugador a {{data.team}}</span>
        </ng-container>
    </button>
    <span class="spacer"></span>
    <ng-container *ngIf="!isNew">
        <app-delete-button (deleteConfirmed)="delete()"></app-delete-button>
    </ng-container>
    <button mat-flat-button (click)="save()" [disabled]="form.invalid">GUARDAR</button>
</div>

<ng-template #updateTitle>
    <span>Información del Jugador</span>
</ng-template>


<form [formGroup]="form" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="8px">

    <ng-container *ngIf="isNew else updatePlayer">

        <mat-tab-group [(selectedIndex)]="activePlayerForm" (selectedTabChange)="onFormTypeChanges($event)">
            <!-- One player editor -->
            <mat-tab label="Un jugador">
                <div fxLayout="column" fxLayoutAlign="start stretch">
                    <div fxLayout="row wrap">

                        <!-- Cap -->
                        <mat-checkbox formControlName="isCap" color="primary">Es capitan</mat-checkbox>
                        <!-- Goalkeeper -->
                        <mat-checkbox formControlName="isGoalkeeper" color="primary">Es portero</mat-checkbox>
                        <!-- Listener -->
                        <mat-checkbox formControlName="isListener" color="primary">Es no bautizado</mat-checkbox>

                    </div>

                    <!-- name -->
                    <mat-form-field>
                        <mat-label>Número</mat-label>
                        <input matInput placeholder="Número de playera" formControlName="number">
                    </mat-form-field>

                    <!-- name -->
                    <mat-form-field>
                        <mat-label>Nombre</mat-label>
                        <input matInput placeholder="Nombre completo" formControlName="name">
                    </mat-form-field>

                    <!-- email -->
                    <mat-form-field>
                        <mat-label>Correo electrónico</mat-label>
                        <input matInput placeholder="Correo electrónico" formControlName="email">
                        <mat-icon matSuffix>
                            alternate_email
                        </mat-icon>
                    </mat-form-field>

                </div>
            </mat-tab>

            <!-- Batch players input -->
            <mat-tab label="Varios jugadores">
                <p>Agrega más jugadores al mismo tiempo.</p>
                <app-batch-creator [control]="playersControl"></app-batch-creator>
            </mat-tab>
        </mat-tab-group>
    </ng-container>

    <ng-template #updatePlayer>

        <mat-list>
            <mat-list-item>
                <div matListItemTitle>{{data.player.name}}</div>
                <div matListItemLine>Nombre</div>
            </mat-list-item>
            <!-- <mat-list-item>
                <div matListItemTitle>{{data.player.numero}}</div>
                <div matListItemLine>Número de playera</div>
            </mat-list-item> -->
            <mat-list-item>
                <div matListItemTitle>{{data.team}}</div>
                <div matListItemLine>Equipo</div>
            </mat-list-item>
        </mat-list>



        <!-- Goals -->
        <app-number-input controlName="Goles" [control]="goals" />

        <!-- Assists -->
        <app-number-input controlName="Asistencias" [control]="assists" />

        <!-- own Goals -->
        <app-number-input controlName="Auto Goles" [control]="ownGoals" />

        <!-- Yellow cards -->
        <app-number-input controlName="Tarjetas Amarillas" [control]="yCards" />
        <!-- Red  Cards -->
        <app-number-input controlName="Tarjetas Rojas" [control]="rCards" />
        <!-- Player Number -->
        <app-number-input controlName="Número del jugador" [control]="playerNumber" />
        <!-- email -->
        <mat-form-field>
            <mat-label>Correo electrónico</mat-label>
            <input matInput placeholder="Correo electrónico" formControlName="email">
            <mat-icon matSuffix>
                alternate_email
            </mat-icon>
        </mat-form-field>
        <mat-toolbar>
            <span class="spacer"></span>
            <!-- Cannot Play -->
            <mat-slide-toggle formControlName="cannotPlay" color="primary">No puede alinear</mat-slide-toggle>
        </mat-toolbar>
        <div fxLayout="row wrap">

            <!-- Cap -->
            <mat-checkbox formControlName="isCap" color="primary">Es capitan</mat-checkbox>
            <!-- Goalkeeper -->
            <mat-checkbox formControlName="isGoalkeeper" color="primary">Es portero</mat-checkbox>
            <!-- Listener -->
            <mat-checkbox formControlName="isListener" color="primary">Es no bautizado</mat-checkbox>

        </div>


    </ng-template>






</form>