<div class="toolbar" fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-button (click)="close()">
        <mat-icon>arrow_back</mat-icon>
        <span>Información del Jugador</span>
    </button>
    <span class="spacer"></span>
    <ng-container *ngIf="!isNew">
        <app-delete-button (deleteConfirmed)="delete()"></app-delete-button>
    </ng-container>
    <button mat-flat-button (click)="save()" [disabled]="form.invalid">GUARDAR</button>
</div>


<form [formGroup]="form" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="8px">

    <ng-container *ngIf="isNew else updatePlayer">
        <h3>{{data.team}}</h3>
        <!-- name -->
        <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input matInput placeholder="Nombre completo" formControlName="name">
        </mat-form-field>
    </ng-container>

    <ng-template #updatePlayer>
        <h4>{{data.player.jugador}}</h4>
        <div>
            Equipo: <span>{{data.team}}</span>
        </div>
    </ng-template>



    <!-- Goals -->
    <app-number-input controlName="Goles" [control]="goals" />
    <!-- Yellow cards -->
    <app-number-input controlName="Tarjetas Amarillas" [control]="yCards" />
    <!-- Red  Cards -->
    <app-number-input controlName="Tarjetas Rojas" [control]="rCards" />

    <!-- Cap -->
    <mat-slide-toggle formControlName="isCap" color="primary">Es capitan</mat-slide-toggle>
    <!-- Goalkeeper -->
    <mat-slide-toggle formControlName="isGoalkeeper" color="primary">Es portero</mat-slide-toggle>
    <!-- Listener -->
    <mat-slide-toggle formControlName="isListener" color="primary">No bautizado</mat-slide-toggle>
    <!-- email -->
    <mat-form-field *ngIf="isCap?.value">
        <mat-label>Correo electrónico</mat-label>
        <input matInput placeholder="Correo electrónico" formControlName="email">
        <mat-icon matSuffix>
            alternate_email
        </mat-icon>
    </mat-form-field>
</form>