<mat-toolbar>{{name}}</mat-toolbar>
<mat-list role="list">
    <div mat-subheader>
        <div fxLayout fxLayoutAlign="space-between center">
            <p>Jugador</p>
            <span class="spacer"></span>
            <p>{{name}}</p>
        </div>
    </div>
    <mat-divider></mat-divider>
    <mat-list-item role="listitem" *ngFor="let p of players">
         <!-- Image with icon size (left side) -->
         <app-team-image matListItemIcon [team]="p.equipo"></app-team-image>
        
         <!-- Title and number (right side) -->
         <div matListItemTitle fxLayout fxLayoutAlign="space-between center">
            <p>{{p.jugador}}</p>
            <span class="spacer"></span>
            <p>{{getStatValue(p)}}</p>
        </div>
        <span matListItemLine>{{p.equipo}}</span>
    </mat-list-item>
</mat-list>