<mat-toolbar color="accent" fxLayout="row" fxLayoutAlign="space-between center">

    <div fxLayout="row" fxLayoutAlign="space-around center" >

        <app-logo></app-logo>
        <span class="title">{{titulo}}</span>
        
    </div>
    <button mat-button [matMenuTriggerFor]="menu" color="primary">
        Menú            
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/matches/lineup">Subir alineación</button>            
    </mat-menu>

</mat-toolbar>