<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center" color="accent">

    <div fxFlex fxLayout="row" fxLayoutAlign="start center" >

        <app-logo></app-logo>
        <span class="tournament-name text-white">{{titulo}}</span>
        
    </div>
    <button mat-button [matMenuTriggerFor]="menu">
        Menú            
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/matches/lineup">Subir alineación</button>            
    </mat-menu>

</mat-toolbar>