<form [formGroup]="form" fxLayout="column"  fxLayoutAlign="start stretch" fxLayoutGap="8px">

    <div fxLayout="row" fxLayoutAlign="space-between center">

        <button mat-button (click)="close()">
            <mat-icon>arrow_back</mat-icon>
            <span>{{title.length ? title : 'Nuevo patrocinador' }}</span>
        </button>

        <button mat-flat-button color="primary" (click)="publish()" [disabled]="!form.valid">
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <span>Guardar</span>
                <mat-spinner diameter="20" *ngIf="loading"></mat-spinner>
            </div>
        </button>
    </div>

   
    <!-- Imagen -->
    <app-upload (file)="onLoad($event)" text="Seleccionar imagen" mode="button"></app-upload>
    <ng-container *ngIf="logo">        
        <img [src]="logo" alt="logotipo">
    </ng-container>


    <div fxLayout="column" fxLayoutAlign="space-between stretch">

        <!-- Name -->
        <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput type="text" formControlName="name" placeholder="Nombre del patrocinador">
        </mat-form-field>


        <!-- Priority -->
        <mat-form-field appearance="fill">
            <mat-label>Prioridad</mat-label>
            <input matInput type="number" formControlName="priority" placeholder="Orden en el que se muestra">
        </mat-form-field>

        <!-- Priority -->
        <mat-form-field appearance="fill">
            <mat-label>Sitio web</mat-label>
            <input matInput type="text" formControlName="website" placeholder="https://www...">
        </mat-form-field>
    </div>
</form>

<!-- {{ tags | json }} -->