<mat-toolbar>
    Cedulas deportivas

    <span class="spacer"></span>
    <app-match-date-filter-picker (onChanges)="getMatchesByDate($event)"></app-match-date-filter-picker>
</mat-toolbar>



<div fxLayout="column" fxLayout.gt-xs="row wrap" fxLayoutAlign.gt-xs="start start" fxLayoutGap="10px" *ngIf="matches">
    <app-match *ngFor="let match of matches" [match]="match" (selected)="onMatchSelected($event)"></app-match>
</div>

<div *ngIf="matches.length === 0">
    <p class="no-data">Sin resultados</p>
</div>