<div class="tab-header">
    <mat-tab-group color="accent" #tabGroup>       
        <mat-tab label="PARTIDOS">
            <ng-template matTabContent>
                <div class="tab-content">
                    <app-match-list></app-match-list>
                </div>
            </ng-template>
        </mat-tab>
        <mat-tab label="POSICIONES">
            <ng-template matTabContent>
                <div class="tab-content">
                    <app-ranking></app-ranking>
                </div>
            </ng-template>
        </mat-tab>
        <mat-tab label="ESTADÍSTICAS">
            <div class="tab-content">
                <app-stats></app-stats>                
            </div>
        </mat-tab>        
        <mat-tab label="JUGADORES" [disabled]="true"> JUGADORES </mat-tab>
    </mat-tab-group>
</div>