<ng-container *ngIf="player">
    <div (click)="$event.preventDefault(); select(player)" tabIndex="0" fxLayout="row" fxLayoutAlign="start center"
        fxLayoutGap="8px">
        <app-player-photo [player]="player"></app-player-photo>

        <span>
            {{player.name}}
        </span>
        <span class="spacer"></span>

        <div fxFlex fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
            <app-player-stats [player]="player" [showCount]="true"></app-player-stats>
        </div>
    </div>
</ng-container>