<mat-toolbar>
    <button mat-button routerLink="..">
        <mat-icon>arrow_back</mat-icon>
        1er Torneo Cristiano de Fut 7
    </button>
    <span class="spacer"></span>
    <button mat-mini-fab (click)="share(match)" *ngIf="match">
        <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>

<div class="container" fxLayout="column" fxLayoutGap="8px" *ngIf="match">
    <!-- General info -->
    <mat-card>
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>
                <span> {{match.dateTime | dateStatus}}</span>
                <div fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>schedule</mat-icon>
                    <app-match-hour [match]="match"></app-match-hour>
                </div>
                <div *ngIf="!isFinished(match) && match.campo" fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>flag</mat-icon>
                    <span>{{match.campo}}</span>
                </div>
            </mat-card-title>

            <mat-card-subtitle>
                <span>Información del partido</span>
            </mat-card-subtitle>
        </mat-card-header>
        <!-- <img mat-card-image src="assets/card-banner.png" alt="banner afc"> -->
        <mat-card-content>
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <div fxLayout="column" fxLayoutAlign="space-between center">
                    <app-team-image [src]="match.imageUrlLocal"></app-team-image>
                    <span>{{local}}</span>
                </div>

                <ng-container *ngIf="!isFinished(match) else finished">
                    <img class="vs" src="assets/vs2.png" alt="vs">
                </ng-container>

                <ng-template #finished>
                    <div class="score-result">
                        <span class="score-value">{{match.marcadorLocal}}</span>
                        <span>-</span>
                        <span class="score-value">{{match.marcadorVisita}}</span>
                    </div>
                </ng-template>


                <div fxLayout="column" fxLayoutAlign="space-between center">

                    <app-team-image [src]="match.imageUrlVisita"></app-team-image>
                    <span>{{visita}}</span>
                </div>
            </div>
        </mat-card-content>
    </mat-card>

    <!-- Alineaciones -->
    <ng-container>


        <mat-card class="standings">
            <mat-tab-group>
                <mat-tab label="ALINEACIONES">

                    <app-lineup-viewer [local]="local" [visita]="visita"></app-lineup-viewer>



                </mat-tab>
            </mat-tab-group>
        </mat-card>

    </ng-container>



</div>