.container {
    margin: 0 8px;

}

.example-header-image {
    background-image: url('/assets/Logo_AFC_1024px.png');
    background-size: cover;
}



.standings {

    mat-toolbar {
        background-color: transparent;
        font-weight: 400;
        font-size: 12px;
    }
}

.visita {
    text-align: right;
}

mat-card-title {
    display: flex;
    flex-direction: row wrap;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.score-result {
    display: flex;
    flex-direction: row;

    .score-value {
        padding: 0 8px;
    }
}

.vs {
    width: 32px;
}