<h2 fxLayout="row" fxLayoutAlign="space-between center">
    <div>
        <button mat-icon-button (click)="close()"><mat-icon>arrow_back</mat-icon></button>
        {{data.teamName}}
    </div>
    <button mat-stroked-button (click)="handleDownload()" [disabled]="loading">{{loading ? 'Procesando' : 'Descargar'}}
        credenciales</button>
</h2>
<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="8px" *ngIf="badges$ | async as badges">
    <app-badge-item *ngFor="let b of badges" [badge]="b" [player]="getPlayer(b)"></app-badge-item>
</div>