<ng-container *ngIf="hasSponsors">
    <mat-card [ngStyle]="styles">
        <mat-card-header *ngIf="!isWidget">
            <mat-card-subtitle>
                Patrocinadores
            </mat-card-subtitle>
        </mat-card-header>
        <div fxLayout="row" [fxLayoutAlign]="isWidget ? 'center center' : 'space-evenly center'" class="images">
            <ng-container *ngFor="let sponsor of getVisibleLogos() as sponsors">
                <a [href]="sponsor.website" target="_blank" (click)="sponsorClicked(sponsor)">
                    <img [src]="sponsor.logoUrl" [alt]="sponsor.name" alt>                    
                </a>
            </ng-container>
        </div>
        <mat-card-footer *ngIf="canShowProgressBar">
            <mat-progress-bar mode="determinate" [value]="progress" color="accent">
            </mat-progress-bar>
        </mat-card-footer>
    </mat-card>
</ng-container>