<!-- <div class="badge-wrapper" *ngIf="badge"
    [ngClass]="{'nb-badge': player?.noBautizado }"
    [ngStyle]="{'background-image': player?.noBautizado ? 'url(\'assets/Logo_AFC_Amarillo.png\')' : 'url(\'assets/Logo_AFC_azul.png\')'}">

    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
        <app-logo></app-logo>
        <h3>{{componyName}}</h3>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">

        <div fxLayout="column" fxLayoutAlign="stretch center" *ngIf="playerImage$ | async as photo">
            <img class="player-photo" [src]="photo" alt="Player photo">
            <span *ngIf="player?.capitan" class="text">Capitán</span>            
            <span *ngIf="player?.portero" class="text">Portero oficial</span>
        </div>


        <div>
            <p>
                <span class="label">Nombre del Jugador: </span>
                <span class="text">{{badge.playerName}}</span>
            </p>

            <p>
                <span class="label">Equipo: </span>
                <span class="text">{{badge.teamName}}</span>
            </p>
            <p>
                <span class="label">Torneo: </span>
                <span class="text">{{tournamentName}}</span>
            </p>


        </div>
    </div>


</div> -->

<div class="badge" *ngIf="badge">
    <div class="badge-mark-water"></div>
    <div class="badge-figures"></div>
    <div class="badge-figures-title"></div>

    <div class="badge-content-wrapper">

        <div class="badge-content">
            <div class="edition-name"
                [ngStyle]="{'background-color': player?.noBautizado ? 'var(--accent-color)' : 'transparent'}">
                <p class="vertical-text"
                    [ngStyle]="{'color': !player?.noBautizado ? 'var(--primary-color)' : 'var(--white)'}">{{edition}}
                </p>
            </div>

            <div class="badge-info">

                <ng-container *ngIf="playerImage$ | async as photo">

                    <img class="player-photo" [src]="photo" [alt]="badge.playerName">
                </ng-container>

                <div class="badge-player-info">

                    <h1>ASOCIACIÓN DE FUTBOL CRISTIANA</h1>


                    <p>{{badge.playerName}}</p>
                    <h2>NOMBRE DEL JUGADOR</h2>

                    <p>{{badge.teamName}}</p>
                    <h2>EQUIPO</h2>

                    <p>{{age}}</p>
                    <h2>EDAD</h2>
                    <p *ngIf="age < 18" class="badge-age">MENOR</p>

                    <p class="badge-season">{{season}}</p>
                </div>

            </div>
        </div>



    </div>