.label {
    display: block;
    font-weight: bold;
}

.badge-wrapper {
    background-image: url('/assets/badge-background.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    color: whitesmoke;
    padding: 10px;
    border-radius: 8px;
}
