<div class="login-container">
    <div class="login-wrapper mat-elevation-z2">
        <app-logo size="medium"></app-logo>
        <h4>AFC | Asociación de Futbol Cristiano</h4>
        <p>Solo los capitanes pueden acceder a esta sección</p>
        <button mat-stroked-button  (click)="handleGoogle()" >
            <div fxLayout="row" fxLayoutAlign="space-between center" >
                <img src="assets/google-icon.png" alt="Google icon">
                <span>Acceder con Google</span>
            </div>
        </button>
    </div>

</div>