// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$penn-blue-palette: (
  50: #e3e5ed,
  100: #b9bed3,
  200: #8c94b5,
  300: #616c97,
  400: #414f84,
  500: #203472,
  600: #1a2e6a,
  700: #112660,
  800: #081d54,
  900: #000D3E,

  contrast: (50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(black, 0.87),
    A200: rgba(black, 0.87),
    A400: white,
    A700: white,
  )
);

$satin-sheen-gold-palette: (
  50: #f7fae5,
  100: #ebf2c0,
  200: #dfe996,
  300: #d3e06e,
  400: #ccda50,
  500: #c6d432,
  600: #c6c327,
  700: #c6ad18,
  800: #C59700,
  900: #c17200,

  contrast: (50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(black, 0.87),
    A200: rgba(black, 0.87),
    A400: white,
    A700: white,
  )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$tournament-manager-primary: mat.define-palette($penn-blue-palette, 700, 900, 300, 500);
$tournament-manager-accent: mat.define-palette($satin-sheen-gold-palette, 700);

// The warn palette is optional (defaults to red).
$tournament-manager-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$tournament-manager-theme: mat.define-light-theme((color: (primary: $tournament-manager-primary,
        accent: $tournament-manager-accent,
        warn: $tournament-manager-warn,
      )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($tournament-manager-theme);

/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #112660;
  --accent-color: #c6ad18;
  --ok-color: green;
  --base-color: whitesmoke;
  --yellow-card-color: #c6ad18;
  --red-card-color: red;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: whitesmoke;
  color: var(--primary-color);
}



.spacer {
  flex: 1 1 auto;
}

.full-screen {
  position: absolute;
  top: 0;
  z-index: 1000;
  height: 100vh;
  width: 100vw;
}

.mat-toolbar {
  color: var(--primary-color);
}

.transparent {
  background-color: transparent;
}

.no-data {  
  margin: 16px 0px;
  border: 2px solid var(--accent-color);
  border-radius: 8px;
  padding: 16px;
}

.pointer-cursor {
  cursor: pointer;
}

// 👆 we can delete this in the future.
@tailwind base;
@tailwind components;
@tailwind utilities;