// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$penn-blue-palette: (
  50: #e3e5ed,
  100: #b9bed3,
  200: #8c94b5,
  300: #616c97,
  400: #414f84,
  500: #203472,
  600: #1a2e6a,
  700: #112660,
  800: #081d54,
  900: #000D3E,

  contrast: (50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(black, 0.87),
    A200: rgba(black, 0.87),
    A400: white,
    A700: white,
  )
);

$satin-sheen-gold-palette: (
  50: #f7fae5,
  100: #ebf2c0,
  200: #dfe996,
  300: #d3e06e,
  400: #ccda50,
  500: #c6d432,
  600: #c6c327,
  700: #c6ad18,
  800: #C59700,
  900: #c17200,

  contrast: (50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(black, 0.87),
    A200: rgba(black, 0.87),
    A400: white,
    A700: white,
  )
);

$aixcaquema-primary-palette: (
  50: #e0f1ed,
  100: #b2ddd0,
  200: #82c7b3,
  300: #53b196,
  400: #33a082,
  500: #1c8f6f,
  600: #198263,
  700: #147355,
  800: #0d6348,
  900: #04472e,

  contrast: (50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(black, 0.87),
    A200: rgba(black, 0.87),
    A400: white,
    A700: white,
  )
);

$aixcaquema-accent-palette: (
  50: #f1edd8,
  100: #ddd19d,
  200: #c6b35c,
  300: #b09909,
  400: #a38600,
  500: #967400,
  600: #996a00,
  700: #9a5b00,
  800: #9a4b00,
  900: #992a00,

  contrast: (50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(black, 0.87),
    A200: rgba(black, 0.87),
    A400: white,
    A700: white,
  )
);

$aixcaquema-warn-palette: (
  50: #f8e1e4,
  100: #eeb4bb,
  200: #e08590,
  300: #d25867,
  400: #c53b4b,
  500: #b92533,
  600: #ab2032,
  700: #981b30,
  800: #85152e,
  900: #630d28,

  contrast: (50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(black, 0.87),
    A200: rgba(black, 0.87),
    A400: white,
    A700: white,
  )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
// $tournament-manager-primary: mat.define-palette($penn-blue-palette, 700, 900, 300, 500);
// $tournament-manager-accent: mat.define-palette($satin-sheen-gold-palette, 700);
// $tournament-manager-warn: mat.define-palette(mat.$red-palette);

$tournament-manager-primary: mat.define-palette($aixcaquema-primary-palette, 900, 300, 500);
$tournament-manager-accent: mat.define-palette($aixcaquema-accent-palette, 300);
$tournament-manager-warn: mat.define-palette($aixcaquema-warn-palette, 900);


// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$tournament-manager-theme: mat.define-light-theme((color: (primary: $tournament-manager-primary,
        accent: $tournament-manager-accent,
        warn: $tournament-manager-warn,
      )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($tournament-manager-theme);

/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #0d6348;
  --accent-color: #b09909;
  --ok-color: #0d6348;
  --nav-color: white;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: whitesmoke;
  color: var(--primary-color);
}



.spacer {
  flex: 1 1 auto;
}

.full-screen {
  position: absolute;
  top: 0;
  z-index: 100;
  height: 100vh;
  width: 100vw;
}