.content {
    min-height: 100vh;
}

.menu {
    position: sticky;
    bottom: 0;

    height: 64px;

    a {
        span {
            line-height: 24px;
        }
    }
}

.active-link {
    color: var(primary);
}

mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 10;
}