section {
    height: 100vh;
    width: 100%;
    background: url('https://img.freepik.com/foto-gratis/balon-futbol-sobre-cesped-fondo-estadio_1150-5281.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}